<div id="scrapper">
  <h1 class="title">
    List of scraped websites
  </h1>
  <ul>
    <% @urls.each do |url| %>
    <li>
      <%= url.website %>
    </li>
    <% end %>
  </ul>
  <a href=/urls/new>Scrape a website</a>
</div>
